.details-page {
  padding: 30px;
  text-align: center;
}

/* TITLE */
.title {
  margin-bottom: 20px;
}

/* CARDS */
.info-card,
.payment-card,
.upload-card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  margin: 20px auto;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* TEXT */
.info-card p,
.payment-card p {
  margin: 8px 0;
  color: #ccc;
}

/* CODE BOX */
.code-box {
  margin-top: 15px;
  padding: 15px;
  border-radius: 10px;
  background: black;
}

.code-box h3 {
  font-size: 24px;
  color: red;
  margin: 10px 0;
}

.note {
  font-size: 12px;
  color: #aaa;
}

/* BUTTON */
button {
  margin-top: 15px;
  width: 100%;
  background: #00c6ff;
  color: black;
}

/* INPUT */
.upload-card input {
  margin-top: 10px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .info-card,
  .payment-card,
  .upload-card {
    width: 90%;
  }
}