.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 100;
}

/* LOGO */
.logo {
  cursor: pointer;
}

/* LINKS */
.nav-links span {
  margin-left: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links span:hover {
  color: #00c6ff;
}